
@{
    ViewData["Title"] = "VerifyPayment";
}

<div class="row">
    <div class="col-md-12">
        <br />
        <h1 class="text-center">Payment Resualt</h1>
        <hr/>
        <div class="alert alert-success text-center">
            <h2 class="text-center">Sucess Payment</h2>
            <p class="text-center">Transaction Code : @ViewBag.code</p>
        </div>
    </div>
    <div class="col-md-12">
        <br />
        <br />
        <p class="text-center" style="padding-top:10px;">
            <a class="btn btn-primary"
               href="/CustomerIeltsExam/CustomerIeltsExamList">My Exam List</a>
        </p>                    
        <br />
        <div class="border-bottom border-white opacity-20 mb-5"></div>
        <br />
        <p class="mb-0  text-center"> IELTS Online Exam Institute</p>
        <br />
    </div>
</div>



