@model ExamContext.ReadModel.Queries.Contracts.OnlinePlacementContext.PlacementUserScoreAggregate.DataContracts.PlacementUserScoreQueryFacadeDto

<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-chart text-primary"></i>
            </span>
            <h3 class="card-label">Placement Exam</h3>
        </div>
    </div>
    <div class="card-body">
        <div class="row justify-content-center my-20">
            <!--begin: Pricing-->
            @if (Model == null)
            {
                <div class="col-md-4 col-xxl-3 border-x-0 border-x-md border-y border-y-md-0">
                    <div class="pt-30 pt-md-25 pb-15 px-5 text-center">
                        <!--begin::Icon-->
                        <div class="d-flex flex-center position-relative mb-25">
                            <span class="svg svg-fill-primary opacity-4 position-absolute">
                                <svg width="175" height="200">
                                    <polyline points="87,0 174,50 174,150 87,200 0,150 0,50 87,0"></polyline>
                                </svg>
                            </span>
                            <span class="svg-icon svg-icon-5x svg-icon-primary">
                                <!--begin::Svg Icon | path:assets/media/svg/icons/Tools/Compass.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"></rect>
                                        <path d="M7.07744993,12.3040451 C7.72444571,13.0716094 8.54044565,13.6920474 9.46808594,14.1079953 L5,23 L4.5,18 L7.07744993,12.3040451 Z M14.5865511,14.2597864 C15.5319561,13.9019016 16.375416,13.3366121 17.0614026,12.6194459 L19.5,18 L19,23 L14.5865511,14.2597864 Z M12,3.55271368e-14 C12.8284271,3.53749572e-14 13.5,0.671572875 13.5,1.5 L13.5,4 L10.5,4 L10.5,1.5 C10.5,0.671572875 11.1715729,3.56793164e-14 12,3.55271368e-14 Z" fill="#000000" opacity="0.3"></path>
                                        <path d="M12,10 C13.1045695,10 14,9.1045695 14,8 C14,6.8954305 13.1045695,6 12,6 C10.8954305,6 10,6.8954305 10,8 C10,9.1045695 10.8954305,10 12,10 Z M12,13 C9.23857625,13 7,10.7614237 7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 C17,10.7614237 14.7614237,13 12,13 Z" fill="#000000" fill-rule="nonzero"></path>
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </div>
                        <!--end::Icon-->
                        <!--begin::Content-->
                        @*<span class="font-size-h1 d-block font-weight-boldest text-dark-75 py-2">
                            69
                            <sup class="font-size-h3 font-weight-normal pl-1">$</sup>
                        </span>*@
                    <h4 class="font-size-h6 d-block font-weight-bold mb-7 text-dark-50">This is your first time taking this exam.</h4>
                        <p class="mb-15 d-flex flex-column">
                            <span>Question Count 25</span>
                            <span>Exam Type : Test</span>
                            <span>6 level</span>
                        </p>
                        <a href="/OnlinePlacement/OnlinePlacementExamPage/@ViewBag.PlacementExamId" class="btn btn-primary text-uppercase font-weight-bolder px-15 py-3">Take The Test</a>
                        <!--end::Content-->
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-4 col-xxl-3 border-x-0 border-x-md border-y border-y-md-0">
                    <div class="pt-30 pt-md-25 pb-15 px-5 text-center">
                        <!--begin::Icon-->
                        <div class="d-flex flex-center position-relative mb-25">
                            <span class="svg svg-fill-primary opacity-4 position-absolute">
                                <svg width="175" height="200">
                                    <polyline points="87,0 174,50 174,150 87,200 0,150 0,50 87,0"></polyline>
                                </svg>
                            </span>
                            <span class="svg-icon svg-icon-5x svg-icon-primary">
                                <!--begin::Svg Icon | path:assets/media/svg/icons/Tools/Compass.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"></rect>
                                        <path d="M7.07744993,12.3040451 C7.72444571,13.0716094 8.54044565,13.6920474 9.46808594,14.1079953 L5,23 L4.5,18 L7.07744993,12.3040451 Z M14.5865511,14.2597864 C15.5319561,13.9019016 16.375416,13.3366121 17.0614026,12.6194459 L19.5,18 L19,23 L14.5865511,14.2597864 Z M12,3.55271368e-14 C12.8284271,3.53749572e-14 13.5,0.671572875 13.5,1.5 L13.5,4 L10.5,4 L10.5,1.5 C10.5,0.671572875 11.1715729,3.56793164e-14 12,3.55271368e-14 Z" fill="#000000" opacity="0.3"></path>
                                        <path d="M12,10 C13.1045695,10 14,9.1045695 14,8 C14,6.8954305 13.1045695,6 12,6 C10.8954305,6 10,6.8954305 10,8 C10,9.1045695 10.8954305,10 12,10 Z M12,13 C9.23857625,13 7,10.7614237 7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 C17,10.7614237 14.7614237,13 12,13 Z" fill="#000000" fill-rule="nonzero"></path>
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </div>
                        <!--end::Icon-->
                        <!--begin::Content-->
                        @*<span class="font-size-h1 d-block font-weight-boldest text-dark-75 py-2">
                            69
                            <sup class="font-size-h3 font-weight-normal pl-1">$</sup>
                        </span>*@
                    <h4 class="font-size-h6 d-block font-weight-bold mb-7 text-dark-50">You have already taken this Exam, you can take it again.</h4>
                        <p class="mb-15 d-flex flex-column">
                            <span>Question Count 25</span>
                            <span>Exam Type : Test</span>
                            <span>6 level</span>
                        </p>
                        <a href="/OnlinePlacement/OnlinePlacementExamPage/@ViewBag.PlacementExamId" class="btn btn-primary text-uppercase font-weight-bolder px-15 py-3">Take The Test</a>
                        <!--end::Content-->
                    </div>
                </div>
            }
            <!--end: Pricing-->
        </div>
    </div>
</div>