
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3"></div>
            <div class="col-lg-5 col-md-5">
                <div class="alert alert-info alert-shadow fade show" role="alert">
                    <h4 class="alert-heading text-center">Confirm</h4>
                    <br />
                    <div class="border-bottom border-white opacity-20 mb-5"></div>
                    <p class="text-center" style="padding-top:10px;">Your score was successful.</p>
                    <div class="border-bottom border-white opacity-20 mb-5"></div>
                    <p class="mb-0  text-center"> IELTS Online Exam Institute</p>
                </div>
            </div>
        </div>
    </div>
    <!--end::Container-->
</div>