
<ul class="header-tabs nav align-self-end font-size-lg" role="tablist">
	<!--begin::Item-->
	<li class="nav-item">
		<a href="#" class="nav-link py-4 px-6 active" data-toggle="tab" data-target="#kt_header_tab_1" role="tab">Home</a>
	</li>
	<!--end::Item-->
	<!--begin::Item-->
	<li class="nav-item mr-3">
		<a href="#" class="nav-link py-4 px-6" data-toggle="tab" data-target="#kt_header_tab_2" role="tab">Reports</a>
	</li>
	<!--end::Item-->
	<!--begin::Item-->
	<li class="nav-item mr-3">
		<a href="#" class="nav-link py-4 px-6" data-toggle="tab" data-target="#kt_header_tab_2" role="tab">Orders</a>
	</li>
	<!--end::Item-->
	<!--begin::Item-->
	<li class="nav-item mr-3">
		<a href="#" class="nav-link py-4 px-6" data-toggle="tab" data-target="#kt_header_tab_2" role="tab">Help Ceter</a>
	</li>
	<!--end::Item-->
</ul>