<br />
<br />

<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="alert alert-info alert-shadow fade show" role="alert">
                    <br />
                    <h4 class="alert-heading text-center">Confirm</h4>
                    <br />
                    <div class="border-bottom border-white opacity-20 mb-5"></div>
                    <br />
                    <p class="text-center" style="padding-top:10px;">You have successfully registered.</p>
                    <br />
                    <p class="text-center" style="padding-top:10px;">
                        <a class="btn btn-primary"
                           href="/Identity/Account/Login?ReturnUrl=%2FUserPanel">click to login</a>
                    </p>                    
                    <br />
                    <div class="border-bottom border-white opacity-20 mb-5"></div>
                    <br />
                    <p class="mb-0  text-center"> IELTS Online Exam Institute</p>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <!--end::Container-->
</div>